<div class="text-center">
  <h1> Your URL has been shortened!</h1>
    <h3> Original Url: <%= @url.full_url %></h3>
    <h3> Shortened url:
      <%= link_to short_url_redirect_path(short_url: @url.short_url),
                  short_url_redirect_path(short_url: @url.short_url) %>
    </h3>
    <h1> <%= link_to "Home", root_path %><h1>
</div>
